
  {{> header }}
    {{> navbar }}

   <center>
    <table>
      <tr>
          <td>
            <ul class="list-group">
          <li class="list-group-item active">Madrid</li>
          <li class="list-group-item">Temperatura: {{ temperatura }}</li>
          </ul>

          </td>
          
          <td>
            <ul class="list-group">
          <li class="list-group-item active">Paris</li>
          <li class="list-group-item">Temperatura: {{ temperatura2 }}</li>
          </ul>
          </td>
      </tr>

    </table>
  </center>

{{> foder }}