
  {{> header }}
    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Trabajo de  {{ capitalizar nombre }}!</h1>
    </div>
    <center>
    <table>
      <tr>
          <td>
            <ul class="list-group">
          <li class="list-group-item active">Quito</li>
          <li class="list-group-item">Temperatura: {{ temperatura }}</li>
          </ul>

          </td>
          
          <td>
            <ul class="list-group">
          <li class="list-group-item active">Guayaquil</li>
          <li class="list-group-item">Temperatura: {{ temperatura2 }}</li>
          </ul>
          </td>
      </tr>

    </table>
  </center>
{{> foder }}